{
    "parserOptions": {
        "ecamVersion": 201,
        "sorceType":"module"
    },
    "env": {
        "browser": true,
        "node":true,
    },
    "extends": [
        "plugin:vue/recommended"
    ],
    "plugins": [],
    "rules":{
        "eslint-plugin-vue/mustache-interpolation-spacing": "off",
        "eslint-plugin-vue/max-attributes-per-line":"off",
        "eslint-plugin-vue/singleline-html-element-content-newline": "off"
    }

}